# Backend Server Configuration
EXPO_PUBLIC_API_URL=http://192.168.1.175:5000

# PayChangu Payment Gateway
PAYCHANGU_SECRET_KEY=SEC-TEST-HMmVFMqAtbakSjgKwLucVDGtXR6qIm5P
PAYCHANGU_PUBLIC_KEY=PUB-TEST-ybYkh6UzATGB30ygtJmIUF6NUAzEVXSo
PAYCHANGU_BASE_URL=https://api.paychangu.com
WEBHOOK_SECRET=wh_sec_test_a8f3d9e2b1c7g5h4j6k8

# App Environment
EXPO_PUBLIC_ENV=development
